<% content_for :title, "Dodawanie uzytkownika – " %>
<div class="container">
  <h5>Nowy użytkownik</h5><hr>
  <%= form_for User.new do |f| %>
  <div class="form-inputs">
    <div class="form-group">
      <label>Email</label>
      <%= f.text_field :email, type:"text", autofocus: true, required: true, class:"form-control" %>
    </div>
  </div>
  <%= f.hidden_field :password, :value => "startowe" %>
  <%= f.hidden_field :password_confirmation, :value => "startowe" %>

  <div align="center">
    <p><%= f.submit :Zatwierdź, class:"btn btn-success btn-block" %></p>
    <p><%= link_to 'Lista użytkowników', pages_users_path, class:'btn btn-primary btn-block' %></p>
  </div>
  <% end %>
</div>
