<div class="iframe-container">
  <div style='height: 100%;'>
    <div id="map"></div>
  </div>
  
  <%= image_tag "espacer_logo.png", class:"img-static-home-head" %>
  <%= link_to (image_tag "solectwo_logo.png", class:"img-static-home"), "http://solectwolubiana.pl" %>
  <%= link_to "Panel administratora", pages_control_path, class:"btn btn-lg btn-static" if user_signed_in? %>
</div>

<%= map(:center => {
    :latlng => [54.123471, 17.866469],
    :zoom => 14 },
    :attribution => '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors | &copy; <a href="https://solectwolubiana.pl/">Sołectwo Łubiana</a>'
) %>

<script type="text/javascript">    
    var places = <%= raw json_escape(@places.to_json) %>;    
    loadPlaces();
    function loadPlaces() {
        for(var place of places) {
            var marker = new L.marker([place["latitude"], place["longitude"]], { opacity: 1 });
            var moreInfo = "";
            moreInfo = moreInfo.concat("<div align='center'><h5>" + place.name + "</h5><hr>");
            moreInfo = moreInfo.concat("<a href='/places/" + place.id + "'><img src='" + place.thumb.url + "' class = 'half-img'></img></a>");
            moreInfo = moreInfo.concat("<hr><h7>" + place.desc + "</h7></div>");
            marker.bindPopup(moreInfo);
            marker.addTo(this.map);
        }
    }
</script>