<% content_for :title, "Edycja uzytkownika" %>
<% content_for :menu, "admin" %>
<br>
<div class=" container">
  <h5>Edycja użytkownika</h5><hr>
  <%= form_for @user, :url => { :action => "update" } do |f| %>
  <div>
    <div class="form-group">
      <label>Email</label>
      <%= f.text_field :email, type:"text", autofocus: true, class:"form-control", placeholder: "email" %>
    </div>
    <div class="form-group">
      <label>Imię</label>
      <%= f.text_field :first_name, type:"text", class:"form-control" %>
    </div>
    <div class="form-group">
      <label>Nazwisko</label>
      <%= f.text_field :last_name, type:"text", class:"form-control" %>
    </div>
    <div class="form-group">
      <label>Uprawnienia</label>
      <%= f.collection_select :role_id, Role.where(active:1), :id, :name, {prompt: "Wybierz", id:"roleselect"}, {class:"form-control"} %>
    </div>
  </div>
  <div align="center">
    <p><%= f.submit :Zatwierdź, class:"btn btn-success btn-block" %></p>
    <p><%= link_to 'Lista użytkowników', admin_users_path, class:'btn btn-primary btn-block' %></p>
  </div>
  <% end %>
</div>
